<div class="container">
  
  <h1 align="center">All Alpha Bloggers</h1>
  
  <div class="row justify-content-md-center pagination">
    
    <div class="col-10 col-md-auto">
      <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
    
  </div>

  <%= @users.each do |user| %>

    <ul class="listing">
      
      <div class="row justify-content-md-center">
        
        <div class="col-6">
      
          <div class="card center">

            <div class="card-block">

              <li><%= link_to gravatar_for(user), user_path(user) %></li>

              <li class="article-title"><%= link_to user.username, user_path(user) %></li>

              <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>

            </div>

          </div>
          
        </div>
        
      </div>
    
    </ul>

  <% end %>
  
  <div class="row pagination">
    
    <div class="col-10 col-md-auto">
      <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
    
  </div>
  
</div>