<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<p></p>
  
  <div class="center">
    
    <%= gravatar_for @user, size: 150 %>
    
  </div>
  
<p></p>

<h4 align="center"><%= @user.username %>'s articles</h4>

<div class="row justify-content-md-center pagination">
    
  <div class="col-10 col-md-auto">
    <%= will_paginate(@user_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
    
</div>

<%= render 'articles/article', obj: @user_articles %>

<div class="row justify-content-md-center pagination">
    
  <div class="col-10 col-md-auto">
    <%= will_paginate(@user_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
    
</div>